@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: #101112;
    color: #fff;
}
p {
    font-size: 3rem;
}

.container {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;
}
.resposta {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}
.positivo, .negativo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 30px;
    text-align: center;
    margin: 0 30px;
    padding: 2px;
    cursor: pointer;
    border-radius: 40px;
}
.positivo {
    background-color: #008000;
}
.negativo {
    background-color: #e21616;
    transition: .5s;
}
.negativo::after {
    content: "Não";
}
.negativo:hover::after {
    content: 'Sim';
}
.negativo:hover {
    background-color: #008000;
}